<%- contentFor( 'body') %>

<div>
    <p>Esta aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
    <p>Cada aluno criou sua propria versão do projeto, complementando com as funções de adição e listagem do usuário, bem como validações de campos</p>
    <p>Esta versão foi feita por <a href="https://github.com/VaneskaSousa" target="_blank">Vaneska Sousa</a> com o auxilio do Professor 
        <a href="https://github.com/wwagner33" target="_blank">Wellington Sarmento.</a></p>
</div>